NOTION_TOKEN=your_internal_integration_secret
NOTION_TRIPS_DATA_SOURCE_ID=your_trips_data_source_id
NOTION_PLACES_DATA_SOURCE_ID=your_places_data_source_id
NOTION_ITEMS_DATA_SOURCE_ID=your_itinerary_items_data_source_id
TRIP_SLUG=sample-trip
